---
import '@/style/global.scss';
import Layout from '@/Layouts/Layout.astro';
---

<Layout title="About">
  <h1>About</h1>
  <div class="about-text">
    <p>
      Hello, I'm Laurenz a web developer. I was born and live in germany. I
      never had any contact with computer science or programming until i
      finished highschool. When i was looking for a university
    </p>
  </div>
</Layout>

<style></style>
