---
import '@/style/global.css';
import Layout from '@/Layouts/Layout.astro';
---

<Layout>
  <h1>About</h1>
</Layout>

<style>
  h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
</style>
