---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

import { dynamicColor } from '@/pages/index.astro';
---

<nav>
  <div>
    <a href="/" class={currentPath === '' ? 'active' : ''}>Home</a>

    <a href="/about" class={currentPath === 'about' ? 'active' : ''}>About</a>
  </div>
</nav>

<style define:vars={{ dynamicColor }}>
  nav {
    background-color: rgb(40, 43, 53);
    width: 100%;
  }

  nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(164, 164, 164);
  }

  nav div a {
    transition: all 0.3s ease-in-out;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: 2px solid transparent;
  }

  nav div a:hover {
    color: rgb(241, 241, 241);
    border-bottom: 2px solid var(--dynamicColor);
  }

  .active {
    color: rgb(241, 241, 241);
    border-bottom-width: 2px;
    border-color: var(--dynamicColor);
  }
</style>
