---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

import { dynamicColor } from '@/pages/index.astro';
---

<nav>
  <ul class="flex items-center justify-center">
    <li>
      <a href="/" class={currentPath === '' ? 'active' : ''}>Home</a>
    </li>
    <li>
      <a href="/about" class={currentPath === 'about' ? 'active' : ''}>About</a>
    </li>
  </ul>
</nav>

<style define:vars={{ dynamicColor }}>
  nav {
    width: 100%;
  }

  nav ul {
    height: 30px;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    color: rgb(164, 164, 164);
    margin: 0 auto;
  }

  nav ul li a {
    transition: all 0.3s ease-in-out;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: 2px solid transparent;
    font-size: 20px;
  }

  nav ul li a:hover {
    color: rgb(241, 241, 241);
    border-bottom: 2px solid var(--dynamicColor);
  }

  .active {
    color: rgb(241, 241, 241);
    border-bottom-width: 2px;
    border-color: var(--dynamicColor);
  }
</style>
