---
import Header from '../components/Header/index.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <div class="p-12"></div>

      <slot />
    </div>

    <style>
      .container {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </body>
</html>
