---
import Header from '@/components/Header/index.astro';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Kaushan+Script|ABeeZee"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `kasparlaurenz | ${title}` : 'kasparlaurenz'}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
    </div>

    <style></style>
  </body>
</html>
